@import "tailwindcss";
@import "react-phone-input-2/lib/style.css";
@import "react-loading-skeleton/dist/skeleton.css";

@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";

:root {
  --primary-bg: #fefefe;
  --secondary-bg: #f9fafb;
  --tertiary-bg: #f1f5f9;

  --text-color: #454545;
  --text-subtle: #9e9e9e;
  --text-color-emphasis: #111827;
  --border: #dfdfdf;

  /* --primary-bg: #030712;
  --secondary-bg: #111827;
  --tertiary-bg: #1f2937;

  --text-color: #d1d5db;
  --text-subtle: #9ca3af;
  --text-color-emphasis: #f9fafb;
  --border: #374151; */

  --white: #ffffff;

  --main: #9810fa;
  --main-subtle: #faf5ff;
  --main-emphasis: #4b0080;

  --success: #22c55e;
  --success-subtle: #e6ffef;
  --success-emphasis: #065f46;
  --orange: #ff8904;
  --orange-subtle: #fff4e6;
  --orange-emphasis: #9a4f00;
  --danger: #eb3535;
  --danger-subtle: #ffecec;
  --danger-emphasis: #7f1717;
  --warning: #ffb82b;
  --warning-subtle: #fff8e8;
  --warning-emphasis: #8a5b00;
  --purple: #ad46ff;
  --purple-subtle: #f5eaff;
  --purple-emphasis: #5b0fb3;
  --blue: #3b82f6;
  --blue-subtle: #e8f2ff;
  --blue-emphasis: #0b3c91;
  --hex: #0077b5;
  --hex-subtle: #e8f5fc;
  --hex-emphasis: #036498;
  --gray: #6b7280;
  --gray-subtle: #f3f4f6;
  --gray-emphasis: #2c313a;
  --pink: #ec4899;
  --pink-subtle: #fceef7;
  --pink-emphasis: #9d174d;
  --indigo: #6366f1;
  --indigo-subtle: #eef2ff;
  --indigo-emphasis: #312e81;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgba(129, 27, 219, 0.2) transparent;
  font-family: var(--font-inter), sans-serif;
}

*::selection {
  background: var(--main-subtle) !important;
  color: var(--main) !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-times), "Times New Roman", Times, serif !important;
}

button,
a {
  cursor: pointer;
}

button:disabled,
a:disabled {
  cursor: not-allowed !important;
  opacity: 0.5 !important;
}

button:disabled {
  filter: grayscale(100) !important;
}

.font-times-custom {
  font-family: var(--font-times), serif !important;
}

.font-inter-custom {
  font-family: var(--font-inter), sans-serif !important;
}

.text-main-gradient {
  color: transparent !important;
  background-clip: text !important;
  background: linear-gradient(var(--main), var(--main-emphasis));
}

.react-tel-input .country-list .country {
  border-radius: 6px;
  padding: 6px 10px;
  margin: 3px 4px;
  transition:
    all 0.2s ease,
    color 0.2s ease;
}
.react-tel-input .country-list .country:hover {
  background: var(--secondary-bg) !important;
  color: var(--text-color) !important;
}
.react-tel-input .country-list .country.highlight {
  background: var(--secondary-bg) !important;
  color: var(--text-color) !important;
}

.rounded-custom {
  border-radius: 8px;
}

.shadow-custom {
  box-shadow:
    0 1px 3px rgba(255, 253, 253, 0.1),
    0 1px 2px rgba(0, 0, 0, 0.06);
}

.mobile-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  z-index: 40;
}

.text-shadow {
  text-shadow: 0 0.2px 2px #222732;
}

.bg-overlay {
  background: rgba(0, 0, 0, 0.45);
}

.btn-text {
  font-size: 13px;
}

.paragraph {
  font-size: 13px;
  color: var(--text-color);
}
.sub-paragraph {
  font-size: 11px;
  color: var(--text-subtle);
}

.btn-shine {
  position: relative;
  overflow: hidden;
  background: linear-gradient(var(--main), var(--main-emphasis));
  color: white;
  border: none;
  padding: 8px 24px;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  text-shadow: 0 0.2px 2px #222732;
}

.btn-shine::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.2),
    transparent
  );
  transition: none;
}

.btn-shine:hover::after {
  left: 100%;
  transition: all 0.6s ease;
}

.btn-shine:hover {
  background: linear-gradient(var(--main-emphasis), var(--main));
  transform: translateY(-1px);
}

.btn-shine-secondary {
  position: relative;
  overflow: hidden;
  color: var(--text-color);
  border: 1px solid var(--border);
  padding: 8px 24px;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
}

.btn-shine-secondary::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    120deg,
    transparent,
    var(--main-subtle),
    transparent
  );
  transition: all 0.5s;
}

.btn-shine-secondary:hover::before {
  left: 100%;
}

.btn-shine-secondary:hover {
  background-color: var(--primary-bg);
  border-color: var(--main);
  color: var(--main);
}
.swiper-pagination {
  position: absolute;
  bottom: 16px !important;
  left: 12px !important;
  right: 12px !important;
  top: auto !important;
  gap: 6px;
  z-index: 20;
}

.swiper-pagination-bullet {
  flex: 1;
  height: 4px;
  background: white !important;
  border-radius: 999px;
  overflow: hidden;
  position: relative;
  opacity: 1;
  width: 2%;
  box-shadow: 0 0.2px 2px #222732;
}
.swiper-pagination-bullet.swiper-pagination-bullet-active {
  flex: 1;
  height: 4px;
  background: white !important;
  border-radius: 999px;
  overflow: hidden;
  position: relative;
  width: 5%;
  box-shadow: 0 0.2px 2px #222732;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active::after {
  content: "";
  position: absolute;
  inset: 0;
  background: var(--main);
}

/* active line runs */
.swiper-pagination-bullet-active::after {
  animation: progressRun 3s linear forwards;
}

@keyframes progressRun {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
