@import "tailwindcss";

@import "react-advanced-cropper/dist/style.css";
@import "react-phone-input-2/lib/style.css";
@import "react-loading-skeleton/dist/skeleton.css";

@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";

:root {
  --primary-bg: #fefefe;
  --secondary-bg: #f9fafb;

  --white: #ffffff;
  --border: #dfdfdf;

  --text-color: #454545;
  --text-subtle: #9e9e9e;
  --text-color-emphasis: #111827;

  --main: #9810fa;
  --main-subtle: #faf5ff;
  --main-emphasis: #8304de;

  --success: #22c55e;
  --success-subtle: #e6ffef;
  --success-emphasis: #065f46;
  --orange: #ff8904;
  --orange-subtle: #fff4e6;
  --orange-emphasis: #9a4f00;
  --danger: #eb3535;
  --danger-subtle: #ffecec;
  --danger-emphasis: #7f1717;
  --warning: #ffb82b;
  --warning-subtle: #fff8e8;
  --warning-emphasis: #8a5b00;
  --purple: #ad46ff;
  --purple-subtle: #f5eaff;
  --purple-emphasis: #5b0fb3;
  --blue: #3b82f6;
  --blue-subtle: #e8f2ff;
  --blue-emphasis: #0b3c91;
  --hex: #0077b5;
  --hex-subtle: #e8f5fc;
  --hex-emphasis: #036498;
  --gray: #6b7280;
  --gray-subtle: #f3f4f6;
  --gray-emphasis: #2c313a;
  --pink: #ec4899;
  --pink-subtle: #fceef7;
  --pink-emphasis: #9d174d;
  --indigo: #6366f1;
  --indigo-subtle: #eef2ff;
  --indigo-emphasis: #312e81;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgba(129, 27, 219, 0.2) transparent;
}

a,
button {
  cursor: pointer;
}

button:disabled,
select:disabled,
input:disabled {
  opacity: 0.8;
  cursor: not-allowed;
}

.text-shadow {
  text-shadow: 0 0.2px 2px #222732;
}

.bg-overlay {
  background: rgba(0, 0, 0, 0.45);
}
.rounded-custom {
  border-radius: 8px;
}

.shadow-custom {
  box-shadow:
    0 1px 3px rgba(255, 253, 253, 0.1),
    0 1px 2px rgba(0, 0, 0, 0.06);
}

.mobile-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  z-index: 40;
}

h1 {
  font-size: 28px;
}
h3 {
  font-size: 20px;
}

h4 {
  font-size: 15px;
  color: var(--gray-emphasis);
  font-weight: bold;
}

p,
.paragraph {
  font-size: 13px;
  color: var(--text-color);
}
.sub-paragraph {
  font-size: 11px;
  color: var(--text-subtle);
}

.btn-text {
  font-size: 13px;
}

.btn-shine {
  position: relative;
  overflow: hidden;
  background: var(--main);
  color: white;
  border: none;
  padding: 8px 24px;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  text-shadow: 0 0.2px 2px #222732;
}

.btn-shine::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.2),
    transparent
  );
  transition: none;
}

.btn-shine:hover::after {
  left: 100%;
  transition: all 0.6s ease;
}

.btn-shine:hover {
  background: var(--main);
  transform: translateY(-1px);
}

/* second button */
.btn-shine-secondary {
  position: relative;
  overflow: hidden;
  color: var(--text-color);
  border: 1px solid var(--border);
  padding: 8px 24px;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
}

.btn-shine-secondary::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    120deg,
    transparent,
    var(--main-subtle),
    transparent
  );
  transition: all 0.5s;
}

.btn-shine-secondary:hover::before {
  left: 100%;
}

.btn-shine-secondary:hover {
  background-color: var(--primary-bg);
  border-color: var(--main);
  color: var(--main);
}

/* Story-style line pagination */
.swiper-pagination {
  position: absolute;
  bottom: 16px !important;
  left: 12px !important;
  right: 12px !important;
  top: auto !important;
  gap: 6px;
  z-index: 20;
}

.swiper-pagination-bullet {
  flex: 1;
  height: 4px;
  background: white !important;
  border-radius: 999px;
  overflow: hidden;
  position: relative;
  opacity: 1;
  width: 2%;
  box-shadow: 0 0.2px 2px #222732;
}
.swiper-pagination-bullet.swiper-pagination-bullet-active {
  flex: 1;
  height: 4px;
  background: white !important;
  border-radius: 999px;
  overflow: hidden;
  position: relative;
  width: 5%;
  box-shadow: 0 0.2px 2px #222732;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active::after {
  content: "";
  position: absolute;
  inset: 0;
  background: var(--main);
}

/* active line runs */
.swiper-pagination-bullet-active::after {
  animation: progressRun 3s linear forwards;
}

@keyframes progressRun {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

#blog-main {
  font-size: 17px;
}
#blog-main h1,
#blog-main h2,
#blog-main h3,
#blog-main h4 {
  margin: 10px 0 12px;
  font-weight: 600;
  color: #55038f;
}
#blog-main h1 {
  font-size: 24px;
}
#blog-main h2 {
  font-size: 22px;
}
#blog-main h3 {
  font-size: 20px;
}
#blog-main h4 {
  font-size: 18px;
}
#blog-main .wp-block-list li {
  margin-bottom: 4px;
}
#blog-main .wp-block-list li:before {
  font-family: "Font Awesome 6 Free";
  content: "\f0da";
  display: inline-block;
  padding-right: 7px;
  vertical-align: middle;
  font-weight: 600;
  color: #9810fa;
  margin-top: -5px;
}
#blog-main .post-details {
  font-size: 14px;
}
#blog-main .post-details .left {
  margin-left: 8px;
}
#blog-main p,
mark,
li {
  font-size: 16px;
  line-height: 1.6;
  color: rgb(32, 32, 32);
  margin-bottom: 12px;
}
#blog-main a {
  color: #9810fa;
  font-weight: 600;
}
#blog-main table {
  font-size: 13px;
}

#blog-main ul {
  list-style-type: disc;
  padding-left: 1.5rem;
  margin-bottom: 1rem;
}
#blog-main ol {
  list-style-type: decimal-leading-zero;
  padding-left: 1.5rem;
  margin-bottom: 1rem;
}
#blog-main li {
  margin-bottom: 0.5rem;
}
#blog-main ol li::marker,
#blog-main ul li::marker {
  color: #9810fa;
  font-weight: 700;
}

#blog-main img {
  border-radius: 10px;
  border: 3px solid #ebceff;
  object-fit: cover;
}

.accordion {
  border: 1px solid #ebceff;
  margin-bottom: 10px;
  border-radius: 5px;
  overflow: hidden;
  transition: box-shadow 0.3s ease;
}

.accordion-question {
  background: whitesmoke;
  padding: 15px;
  cursor: pointer;
  font-weight: bold;
  position: relative;
}

.accordion-question::after {
  content: "+";
  position: absolute;
  right: 20px;
  font-size: 18px;
  transition: transform 0.3s;
}

.accordion.active .accordion-question::after {
  content: "-";
}

.accordion-answer {
  display: none;
  padding: 15px;
  background: whitesmoke;
  border-top: 1px solid #ebceff;
}

.accordion.active .accordion-answer {
  display: block;
  padding: 15px;
}
